:root {
  background-color: #292929;
  color: #dedede;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 16px;
}

p {
  font-size: 0.85rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

button {
  cursor: pointer;
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #dedede;
  /* padding: 0 44px; */
  margin: 0 4px;
  justify-self: center;
}

#create-task-button {
  width: 100%;
}

#cancel-button {
  background-color: #282828;
  border: 1px solid #dedede;
  color: #dedede;
  width: 100%;
}

input {
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #393939;
  justify-self: center;
}

textarea {
  border-radius: 4px;
  border: none;
  background-color: #393939;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.85rem;
  justify-self: center;
  width: 100%;
}

label {
  display: block;
  margin: 6px 0;
  text-align: left;
  align-self: left;
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;
}

#lists-group {
  display: flex;
  width: 100%;
  margin: 16px 0;
}

.list {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 800px;
  overflow-y: scroll;
  background-color: #232323;
  border-radius: 8px;
  color: grey;
  margin: 0 4px;
  padding: 4px 0;
}

.list::-webkit-scrollbar {
  display: none;
}

.task-element {
  display: inline-block;
  color: #dedede;
  width: 90%;
  padding: 5px;
  margin: 4px auto;
  border: 1px solid #404040;
  border-radius: 8px;
}

.task-element button {
  width: 124px;
  margin: 4px 4px;
}

.delete-button {
  background-color: #232323;
  border: 1px solid #dedede;
  color: #dedede;
}

#create-task-form {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  height: 480px;
  width: 600px;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

#task-creation-content {
  width: 80%;
  text-align: center;
  margin: 20px auto;
  /* background-color: darkgreen; */
}

#create-task-form input,
#create-task-form textarea,
#create-task-form button {
  margin: 4px 0;
  width: 100%;
}

/* Class to hide the background */
.cover {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
